# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Replace the value of DATABASE_URL with your actual database connection string.
# Source -> https://www.prisma.io/docs/guides/frameworks/nextjs#21-install-dependencies
DATABASE_URL="YOUR_PRISMA_DATABASE_URL_HERE"

# To test admin login/logout, you can set these to any values you want. Just make sure to update the .env file with the same values before using them in the admin login page.
ADMIN_EMAIL="admin@gmail.com"
ADMIN_PASSWORD="AdminUser@1892#"